<html>
	<head>
	{% load static from staticfiles %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
		<title>Ver Atenciones</title>
	</head>
	<body>
		{%if user.is_authenticated %}
			<div id="menu-wrapper">
				<ul id="hmenu">
					<p>Bienvenido {{user.username|capfirst}}</p>
					<a id="cerrar" href="/cerrar">Salir</a>
					<li><a href="/inicio">Inicio</li>
					<li><a href="/MostrarTodasLasMascotas">Servicios</a>
						<ul class="sub-menu">
							<li><a href="/MostrarTodasLasMascotas">Ver Mascotas</a></li>
							<li><a href="/nuevamascota">Nueva Mascota</a></li>
							<li><a href="/mostrarduenos">Ver Dueños</a></li>
							<li><a href="/nuevoDueno">Nuevo Dueño</a></li>
							<li><a href="/mostrarveterinario">Ver Veterinarios</a></li>
							<li><a href="/nuevoveterinario">Nuevo Veterinario</a></li>

						</ul>
					</li>
					<li><a href="#">Portafolio</a>
						<ul class="sub-menu">
							<li><a href="/mostrarFichas">Ver Fichas</a></li>
							<li><a href="/nuevaFicha">Nueva Ficha</a></li>
							<li><a href="/mostrarAtenciones">Ver Atenciones</a></li>
							<li><a href="/nuevaAtencion">Nueva Atencion</a></li>
						</ul>
					</li>
					<li><a href="#">Contacto</a></li>		
				</ul>	
			</div>
			
		{%else%}
			Porfavor reingresa
		{%endif%}
	</body>

	<h1>Listado de Todas las Atenciones</h2>
					<table border="1px" cellpadding="20px">
					
						<tr>
							<th>ID</th>
							<th>Ficha</th>
							<th>Domicilio</th>
							<th>Fecha Atencion</th>
							<th>Veterinario</th>
							<th>Temperatura</th>
							<th>Observaciones</th>
							<th>Diagnostico</th>
						</tr>
							{% for i in atencion_list %}
						<tr>
							<td>{{i.id}}</td>
							<td>{{i.ficha}}</td>
							<td>{{i.domicilio}}</td>
							<td>{{i.fecha_Atencion}}</td>
							<td>{{i.veterinario}}</td>
							<td>{{i.temperatura}}</td>
							<td>{{i.observaciones}}</td>
							<td>{{i.diagnostico}}</td>
						</tr>
							{% endfor %}
					</table>

</html>