
<html>
	<head>
	{% load static from staticfiles %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
		<title>Mostrar Fichas</title>
	</head>
	<body>
		{%if user.is_authenticated %}
			<div id="menu-wrapper">
				<ul id="hmenu">
					<p>Bienvenido {{user.username|capfirst}}</p>
					<a id="cerrar" href="/cerrar">Salir</a>
					<li><a href="/inicio">Inicio</li>
					<li><a href="/MostrarTodasLasMascotas">Servicios</a>
						<ul class="sub-menu">
							<li><a href="/MostrarTodasLasMascotas">Ver Mascotas</a></li>
							<li><a href="/nuevamascota">Nueva Mascota</a></li>
							<li><a href="/mostrarduenos">Ver Dueños</a></li>
							<li><a href="/nuevoDueno">Nuevo Dueño</a></li>
							<li><a href="/mostrarveterinario">Ver Veterinarios</a></li>
							<li><a href="/nuevoveterinario">Nuevo Veterinario</a></li>

						</ul>
					</li>
					<li><a href="#">Portafolio</a>
						<ul class="sub-menu">
							<li><a href="/mostrarFichas">Ver Fichas</a></li>
							<li><a href="/nuevaFicha">Nueva Ficha</a></li>
							<li><a href="/mostrarAtenciones">Ver Atenciones</a></li>
							<li><a href="/nuevaAtencion">Nueva Atencion</a></li>
						</ul>
					</li>
					<li><a href="#">Contacto</a></li>		
				</ul>	
			</div>

			<h1>Listado de Todas las Fichas</h2>
					<table border="1px" cellpadding="20px">
					
						<tr>
							<th>ID</th>
							<th>Nombre</th>
							<th>Clinica</th>
							<th>Amo</th>
							<th>Creacion</th>
						</tr>
							{% for i in ficha_list %}
						<tr>
							<td>{{i.id}}</td>
							<td>{{i.nombre}}</td>
							<td>{{i.clinica}}</td>
							<td>{{i.amo}}</td>
							<td>{{i.creacion}}</td>
						</tr>
							{% endfor %}
					</table>
			
		{%else%}
			Porfavor reingresa
		{%endif%}
	</body>

</html>








